.card {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.progress {
  width: 120px;
  margin: 15px auto;
}

.placeholder {
  color: #999;
}
